  <div class="body">
    <!-- Start Site Header -->
    <header class="site-header">
      <div class="topbar">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-10">
              <div class="navLogo">
                <a target="_blank" href="index.html"></a>
              </div>
            </div>
            <div class="col-md-8 col-sm-6 col-xs-2">
              <a href="#" class="visible-sm visible-xs menu-toggle" style="display: none;"><i class="fa fa-bars"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="main-menu-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <nav class="navigation">
                <ul class="sf-menu">
                  <li><a href="../index.html">Home</a></li>
                  <li><a href="../pages/about.html">About Us</a>
                    <ul class="dropdown">
                      <li><a href="../pages/about.html">Overview</a></li>
                      <li><a href="../pages/where-we-meet.html">Where we meet</a></li>
                      <li><a href="../pages/our-staff.html">Our Staff</a></li>
                      <li><a href="../pages/contact.html">Contact</a></li>
                    </ul>
                  </li>
                  <li><a href="../pages/events.html">Events</a>
                    <ul class="dropdown">
                      <li><a href="../pages/weekly-gatherings.html">TCU FCA Monday Night Gatherings</a></li>
                      <li><a href="../pages/fca-college-advance.html">FCA College Advance</a></li>
                      <li><a href="../pages/fca-champion-banquet.html">TCU FCA Night of Champions Banquet</a></li>
                    </ul>
                  </li>
                  <li><a href="../pages/gallery.html">Gallery</a>
                  </li>
                  <li><a href="../pages/highlight-student-of-month-jan-2016.html">Blog</a>
                  </li>
                  <li><a href="../pages/contact.html">Contact Us</a></li>
                  <li><a href="../pages/donate.html">Donate</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
