    <!-- Start Footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <!-- Start Footer Widgets -->
          <div class="col-md-4 col-sm-4 widget footer-widget">
            <h4 class="footer-widget-title">About FCA</h4>
            <img class="footerLogo" src="../swa/i/FCAlogo-VertTagBlack.png" alt="Fellowship of Christian Athletes Logo">
            <div class="spacer-20"></div>
            <p class="white">To present to athletes and coaches and all whom they influence the challenge and adventure of receiving <strong>Jesus Christ as Savior and Lord</strong>, serving <strong>Him</strong> in their relationships and in the fellowship of the church.</p>
            <p class="copyRight">&copy;&nbsp;<a target="_blank" href="http://tcu.edu">2015 Texas Christian University. All Rights Reserved</a></p>
          </div>
          <div class="col-md-4 col-sm-4 widget footer-widget">
            <h4 class="footer-widget-title">Sitemap</h4>
            <ul>
              <li><a class="white" href="../pages/donate.html">Donate</a></li>
              <li><a class="white" href="../pages/index.html">TCU FCA Home</a></li>
              <li><a class="white" href="../pages/about.html">About Us</a></li>
              <li><a class="white" href="../pages/events.html">Events</a></li>
              <li><a class="white" href="../pages/gallery.html">Gallery</a></li>
              <li><a class="white" href="../pages/contact.html">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-4 widget footer-widget">
            <h4 class="footer-widget-title">Follow Us On Social Media</h4>
            <div class="social-icons">
              <a class="large" href=" https://www.facebook.com/chauncey.franks?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a>
              <a class="large" href="https://twitter.com/chaunceyfranks" target="_blank"><i class="fa fa-twitter"></i></a>
              <a class="large" href="https://www.instagram.com/chaunceyfranks/" target="_blank"><i class="fa fa-instagram"></i></a>
            </div>

          </div>
        </div>
    </footer>
    <!-- End Footer -->
    <a id="back-to-top"><i class="fa fa-angle-double-up"></i></a>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- Jquery Library Call -->
    <script src="../swa/j/plugins/prettyphoto/js/prettyphoto.js"></script>
    <!-- PrettyPhoto Plugin -->
    <script src="../swa/j/helper-plugins.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- UI -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/noframework.waypoints.min.js"></script>
    <!-- Waypoints -->
    <script src="../swa/j/plugins/mediaelement/mediaelement-and-player.min.js"></script>
    <!-- MediaElements -->
    <script src="../swa/j/init.js"></script>
    <!-- All Scripts -->
    <script src="../swa/j/plugins/flexslider/js/jquery.flexslider.js"></script>
    <!-- FlexSlider -->
    <script src="../swa/j/plugins/countdown/js/jquery.countdown.min.js"></script>
    <!-- Jquery Timer -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="../swa/j/script.js"></script>
    <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-68134664-1', 'auto');
    ga('send', 'pageview');
    </script>
</body>

</html>