    <!-- Start Hero Slider -->
    <div class="hero-slider flexslider clearfix" data-autoplay="yes" data-pagination="yes" data-arrows="yes" data-style="fade" data-pause="yes">
      <ul class="slides">
        <!--       <li><iframe width="560" height="315" src="https://www.youtube.com/embed/2la4JqV44Po" frameborder="0" allowfullscreen></iframe></li>
 --> 
  <li class="parallax img-responsive" style="width: 100%; float: left; margin-right: -100%; position: relative; display: none; background-image: url(../swa/i/tcu/gallery-1.jpg);">
  <li class="parallax img-responsive" style="width: 100%; float: left; margin-right: -100%; position: relative; display: none; background-image: url(../swa/i/tcu/picture-with-kenny.jpeg);">
  <li class="parallax img-responsive" style="width: 100%; float: left; margin-right: -100%; position: relative; display: none; background-image: url(../swa/i/tcu/tcu-fca-college-advance-camp-1776x1176.jpeg);"></li>
  <li class="parallax img-responsive" style="width: 100%; float: left; margin-right: -100%; position: relative; display: none; background-image: url(../swa/i/tcu/gallery-3.jpg);">
  <li class="parallax img-responsive" style="width: 100%; float: left; margin-right: -100%; position: relative; display: none; background-image: url(../swa/i/tcu/tcu-fca-weekly-gatherings1776x1176.jpeg);">
  <li class="parallax img-responsive" style="width: 100%; float: left; margin-right: -100%; position: relative; display: none; background-image: url(../swa/i/tcu/tcu-fca-college-advance-camp2-1776x1176.jpeg);"> 

  <li class="parallax img-responsive" style="width: 100%; float: left; margin-right: -100%; position: relative; display: none; background-image: url(../swa/i/tcu/gallery-2.jpg);">      
  <li class="parallax img-responsive" style="width: 100%; float: left; margin-right: -100%; position: relative; display: none; background-image: url(../swa/i/tcu/TCU-Pregame-Thompson-large.jpg);">
  <li class="parallax img-responsive" style="width: 100%; float: left; margin-right: -100%; position: relative; display: none; background-image: url(../swa/i/tcu/locker-room-prayer.jpg);">
         <li class="parallax img-responsive" style="width: 100%; float: left; margin-right: -100%; position: relative; display: none; background-image: url(../swa/i/tcu/SMU-Pregame-Perry-Benuska-1200x800.jpg);"></li>
         <li class="parallax img-responsive" style="width: 100%; float: left; margin-right: -100%; position: relative; display: none; background-image: url(../swa/i/tcu/tcu-fca-camp.jpg);"></li>

        <li class="parallax img-responsive" style="width: 100%; float: left; margin-right: -100%; position: relative; display: none; background-image: url(../swa/i/slide1.jpg);"></li>

        
      </ul>
    </div>
    <!-- End Hero Slider -->