    <!-- Start Hero Slider -->
     <div class="hero-slider flexslider clearfix" data-autoplay="yes" data-pagination="yes" data-arrows="yes" data-style="fade" data-pause="yes">
      <ul class="slides">
        <li class="img-responsive"><img src="../swa/i/tcu/gallery-1.jpg"></li>
        <li class="img-responsive"><img src="../swa/i/tcu/picture-with-kenny.jpeg"></li>
        <li class="img-responsive"><img src="../swa/i/tcu/tcu-fca-college-advance-camp-1776x1176.jpeg"></li>
        <li class="img-responsive"><img src="../swa/i/tcu/gallery-3.jpg"></li>
        <li class="img-responsive"><img src="../swa/i/tcu/tcu-fca-weekly-gatherings1776x761.jpg"></li>
        <li class="img-responsive"><img src="../swa/i/tcu/tcu-fca-college-advance-camp2-1776x1176.jpeg"></li>  
        <li class="img-responsive"><img src="../swa/i/tcu/gallery-2.jpg"></li>                               
        <li class="img-responsive"><img src="../swa/i/tcu/tcu-fca-camp.jpg"></li>        
        <li class="img-responsive"><img src="../swa/i/tcu/TCU-Pregame-Thompson-large.jpg"></li>
        <li class="img-responsive"><img src="../swa/i/tcu/locker-room-prayer.jpg"></li>
        <li class="img-responsive"><img src="../swa/i/tcu/slide1.jpg"></li>
        <li class="img-responsive"><img src="../swa/i/tcu/SMU-Pregame-Perry-Benuska-1200x800.jpg"></li>
      </ul>
    </div>
    <!-- End Hero Slider -->